[submodule "client/packages/theia-glsp"]
	path = client/packages/theia-glsp
	url = https://github.com/eclipsesource/theia-sprotty
[submodule "client/packages/glsp-sprotty"]
	path = client/packages/glsp-sprotty
	url = https://github.com/eclipsesource/sprotty
