[submodule "client/packages/sprotty"]
	path = client/packages/sprotty
	url = https://github.com/eclipsesource/sprotty
[submodule "client/packages/theia-glsp"]
	path = client/packages/theia-glsp
	url = https://github.com/eclipsesource/theia-sprotty
