branches:
        only:
        - master
matrix:
  include:
    - language: java
      dist: trusty
      jdk:  openjdk11
      before_script:
        - cd server
      cache:
        directories:
          - "$HOME/.m2/repository"
      script:
        - mvn clean verify
      before_deploy:
       - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
       - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
      deploy:
        provider: script
        skip_cleanup: true
        script: bash ../scripts/deployMaven.sh
        on:
          branch: master
      after_deploy:
        - cd  ../scripts
        - ./deployP2.sh
      addons:
        apt:
          packages:
            - libxml2-utils

    - language: node_js
      node_js: '10'
      before_script:
        - cd client
      cache:
        yarn: true
        directories:
          - node_modules
      env:
        global:
          - CXX=g++-4.8
          - NODE_OPTIONS="--max_old_space_size=4096"
      addons:
        apt:
          update: true
          packages:
          - g++-4.8
          - libsecret-1-dev
          - xvfb
          - libx11-dev
          - libxkbfile-dev
      install: false
      before_deploy:
      - printf "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}\n" >> ~/.npmrc
      - yarn

      deploy:
        provider: script
        script: bash ../scripts/deployNPM.sh
        on:
          branch: master
        skip_cleanup: true
